/* 
    RESPONSIVE DESIGN::
*/

@media screen and (min-width:577px) and (max-width:992px) {
    .navbar{
        margin: 0px;    
   }
   .section-1{
    gap: 0px;
   }
   .section1-left{
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
   }
}

@media screen and (max-width:576px) {
    .navbar{
        margin: 0px;    
   }
   .section-1{
    gap: 0px;
   }
   .section1-left{
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
   }
}

