/* External FONTS */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

/* Navbar */
.navbar {
    margin: 15px;
    background: #1090D81A;
}

/* SECTION 01 */
.section-1 {
    margin: 15px;
}

.section1-card1 {
    text-align: center;
    padding: 40px 20px;
    border: 1px solid rgba(0, 0, 0, 0.128);
}

.triangle:hover {
    background-color: #FBBCED;
}
.parallelogram:hover{
    background-color: #CCCCFF;
}
.rectangle:hover{
    background-color: #B2F069;
}
.rhombus:hover{
    background-color: #69C7F0;
}
.pentagon:hover{
    background-color: #B5A908;
}
.ellipse:hover{
    background-color: #FFC1AC;
}


.section1-card1-heading {
    font-weight: bolder;
    margin-top: 3%;
}

.section1-card1-formula {
    margin-bottom: 3%;
}

.section1-card1-inputbox {
    margin-bottom: 4%;
}

.section1-card1-inputbox input {
    outline: transparent;
    border: hidden;
    border: 1px solid rgba(0, 0, 0, 0.11);
    padding: 10px;
    width: 20%;
}

.btn-primary {
    background-color: #1090D8;
}

.btn-primary:hover {
    background-color: #1090D8;
}

/* Flex */
.section-1 {
    display: flex;
    gap: 20px;
}

.section1-left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}



/* COMPLETED  */
.mylist-items{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
ol{
    display: none;
}
